server/nodered/flows.json
[
    {
        "id": "96cdfc911e5f30a8",
        "type": "tab",
        "label": "DP-Meteo",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "96a2ad4f2349c94e",
        "type": "tab",
        "label": "Pool",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e935873514d4c19f",
        "type": "tab",
        "label": "ZaKanalom",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "453c83f8481dbb4d",
        "type": "tab",
        "label": "RC Zahradka",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "99587b48e67a75ad",
        "type": "tab",
        "label": "Testing",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "de24aff89ea8a24b",
        "type": "mqtt-broker",
        "name": "MQTT Broker",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "3",
        "keepalive": "90",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "fc9141baac035642",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "database",
        "name": "InfluxDB IoT",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://influxdb:8086",
        "timeout": "10",
        "rejectUnauthorized": true
    },
    {
        "id": "6939a609d9250890",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "database",
        "name": "InfluxDB Test",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://influxdb:8086",
        "timeout": "10",
        "rejectUnauthorized": true
    },
    {
        "id": "6cf3364d32981979",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "database",
        "name": "InfluxDB Pool",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://influxdb:8086",
        "timeout": "10",
        "rejectUnauthorized": true
    },
    {
        "id": "9777cbfca589e4b3",
        "type": "websocket-client",
        "path": "158.193.242.196:1880/",
        "tls": "",
        "wholemsg": "true",
        "hb": "0",
        "subprotocol": ""
    },
    {
        "id": "b6822e669055c68d",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "database",
        "name": "InfluxDB RC Zahradka",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://influxdb:8086",
        "timeout": "10",
        "rejectUnauthorized": true
    },
    {
        "id": "e4bcacc3334c7edb",
        "type": "mqtt in",
        "z": "96cdfc911e5f30a8",
        "name": "",
        "topic": "project",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "de24aff89ea8a24b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 540,
        "wires": [
            [
                "9d44ec2f582d53a5",
                "f766d64a5545da63",
                "2e9eb97c1e75e9f5",
                "da9c1574f143852f",
                "7854719d33019e25",
                "0aa8f1c1084b6282",
                "f92c99b12b662c95",
                "d777f82ef5d96b86",
                "13180289d11a95a8",
                "d2306a3dca7b1320",
                "d560ed001752d308",
                "2de57bc448f5f88f",
                "742a8b13d275b242",
                "a5a2d7d12d22e7a3",
                "c3afc4fa9db5bac4",
                "f261e2dbfe39d13a",
                "1be616957936bd3e",
                "941c05395c5007c6",
                "28e8f45914625fa4",
                "fca26e21852167cb",
                "98c364b2ddabc504"
            ]
        ]
    },
    {
        "id": "9d44ec2f582d53a5",
        "type": "change",
        "z": "96cdfc911e5f30a8",
        "name": "airTemperature - DHT22",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t   {\t       \"celsius\":msg.payload.dht_temp\t    },\t   {\t        \"espID\":msg.payload.espID,\t        \"place\":'meteostation',\t        \"sensor\":'DHT22'\t    }\t]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 60,
        "wires": [
            [
                "3dcf579ac1a09e17"
            ]
        ]
    },
    {
        "id": "f766d64a5545da63",
        "type": "change",
        "z": "96cdfc911e5f30a8",
        "name": "airTemperature - BME280",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t   {\t       \"celsius\":msg.payload.bme_temp\t    },\t   {\t        \"espID\":msg.payload.espID,\t        \"place\":'meteostation',\t        \"sensor\":'BME280'\t    }\t]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 100,
        "wires": [
            [
                "3dcf579ac1a09e17"
            ]
        ]
    },
    {
        "id": "2e9eb97c1e75e9f5",
        "type": "change",
        "z": "96cdfc911e5f30a8",
        "name": "airHumidity - DHT22",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t   {\t       \"percent\":msg.payload.dht_hum\t    },\t   {\t        \"espID\":msg.payload.espID,\t        \"place\":'meteostation',\t        \"sensor\":'DHT22'\t    }\t]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 160,
        "wires": [
            [
                "9ed5169014441026"
            ]
        ]
    },
    {
        "id": "fca26e21852167cb",
        "type": "debug",
        "z": "96cdfc911e5f30a8",
        "name": "debug - Message",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 540,
        "wires": []
    },
    {
        "id": "3dcf579ac1a09e17",
        "type": "influxdb out",
        "z": "96cdfc911e5f30a8",
        "influxdb": "fc9141baac035642",
        "name": "InfluxDB/airTemperature",
        "measurement": "airTemperature",
        "precision": "s",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "s",
        "retentionPolicyV18Flux": "",
        "org": "project",
        "bucket": "sensors",
        "x": 790,
        "y": 60,
        "wires": []
    },
    {
        "id": "9ed5169014441026",
        "type": "influxdb out",
        "z": "96cdfc911e5f30a8",
        "influxdb": "fc9141baac035642",
        "name": "InfluxDB/airHumidity",
        "measurement": "airHumidity",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "s",
        "retentionPolicyV18Flux": "",
        "org": "project",
        "bucket": "sensors",
        "x": 780,
        "y": 160,
        "wires": []
    },
    {
        "id": "beb5e0ccdab79f3a",
        "type": "influxdb out",
        "z": "96cdfc911e5f30a8",
        "influxdb": "fc9141baac035642",
        "name": "InfluxDB/airPressure",
        "measurement": "airPressure",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "s",
        "retentionPolicyV18Flux": "",
        "org": "project",
        "bucket": "sensors",
        "x": 780,
        "y": 260,
        "wires": []
    },
    {
        "id": "107800ab4f5f7059",
        "type": "influxdb out",
        "z": "96cdfc911e5f30a8",
        "influxdb": "fc9141baac035642",
        "name": "InfluxDB/batteryVoltage",
        "measurement": "batteryVoltage",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "s",
        "retentionPolicyV18Flux": "",
        "org": "project",
        "bucket": "sensors",
        "x": 790,
        "y": 640,
        "wires": []
    },
    {
        "id": "da9c1574f143852f",
        "type": "change",
        "z": "96cdfc911e5f30a8",
        "name": "airHumidity - BME280",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t   {\t       \"percent\":msg.payload.bme_hum\t    },\t   {\t        \"espID\":msg.payload.espID,\t        \"place\":'meteostation',\t        \"sensor\":'BME280'\t    }\t]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 200,
        "wires": [
            [
                "9ed5169014441026"
            ]
        ]
    },
    {
        "id": "7854719d33019e25",
        "type": "change",
        "z": "96cdfc911e5f30a8",
        "name": "airPressure- BME280",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t   {\t       \"hPa\":msg.payload.bme_press,\t       \"hPa_bmebmeSea\":(msg.payload.bme_press/$power(2.718281828,((-9.80665*0.0289644*345)/(8.31432*(273.15+msg.payload.bme_temp))))),\t       \"hPa_bmedhtSea\":(msg.payload.bme_press/$power(2.718281828,((-9.80665*0.0289644*345)/(8.31432*(273.15+msg.payload.bme_temp)))))\t    },\t   {\t        \"espID\":msg.payload.espID,\t        \"place\":'meteostation',\t        \"sensor\":'BME280'\t    }\t]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 260,
        "wires": [
            [
                "beb5e0ccdab79f3a",
                "d25d134ecf315b69"
            ]
        ]
    },
    {
        "id": "0aa8f1c1084b6282",
        "type": "change",
        "z": "96cdfc911e5f30a8",
        "name": "windSpeed-WH-SP-WS01",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t   {\t       \"tips\":msg.payload.windSpeed_tips,\t       \"1Hz\":msg.payload.windSpeed_1Hz,\t       \"ms\":msg.payload.windSpeed_ms,\t       \"kmh\":msg.payload.windSpeed_kmh\t    },\t   {\t        \"espID\":msg.payload.espID,\t        \"place\":'meteostation',\t        \"sensor\":'WH-SP-WS01'\t    }\t]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 320,
        "wires": [
            [
                "2583c57e638de367"
            ]
        ]
    },
    {
        "id": "f92c99b12b662c95",
        "type": "change",
        "z": "96cdfc911e5f30a8",
        "name": "windDirection-WH-SP-WD",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t   {\t       \"adc\":msg.payload.windDir_ADC,\t       \"deg\":msg.payload.windDir_deg,\t       \"name\":msg.payload.windDir_name\t    },\t   {\t        \"espID\":msg.payload.espID,\t        \"place\":'meteostation',\t        \"sensor\":'WH-SP-WD',\t        \"direction\":msg.payload.windDir_deg\t    }\t]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 380,
        "wires": [
            [
                "ab765a44fc8ebc07"
            ]
        ]
    },
    {
        "id": "d777f82ef5d96b86",
        "type": "change",
        "z": "96cdfc911e5f30a8",
        "name": "rainGauge-MS-WH-SP-RG",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t   {\t       \"tips\":msg.payload.rain_tips,\t       \"mm\":msg.payload.rain_mm\t    },\t   {\t        \"espID\":msg.payload.espID,\t        \"place\":'meteostation',\t        \"sensor\":'MS-WH-SP-RG'\t    }\t]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 440,
        "wires": [
            [
                "8717fa8e07a0b69a"
            ]
        ]
    },
    {
        "id": "2583c57e638de367",
        "type": "influxdb out",
        "z": "96cdfc911e5f30a8",
        "influxdb": "fc9141baac035642",
        "name": "InfluxDB/windSpeed",
        "measurement": "windSpeed",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "s",
        "retentionPolicyV18Flux": "",
        "org": "project",
        "bucket": "sensors",
        "x": 780,
        "y": 320,
        "wires": []
    },
    {
        "id": "ab765a44fc8ebc07",
        "type": "influxdb out",
        "z": "96cdfc911e5f30a8",
        "influxdb": "fc9141baac035642",
        "name": "InfluxDB/windDirection",
        "measurement": "windDirection",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "s",
        "retentionPolicyV18Flux": "",
        "org": "project",
        "bucket": "sensors",
        "x": 780,
        "y": 380,
        "wires": []
    },
    {
        "id": "8717fa8e07a0b69a",
        "type": "influxdb out",
        "z": "96cdfc911e5f30a8",
        "influxdb": "fc9141baac035642",
        "name": "InfluxDB/rainGauge",
        "measurement": "rainGauge",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "s",
        "retentionPolicyV18Flux": "",
        "org": "project",
        "bucket": "sensors",
        "x": 770,
        "y": 440,
        "wires": []
    },
    {
        "id": "13180289d11a95a8",
        "type": "change",
        "z": "96cdfc911e5f30a8",
        "name": "airDewPoint - BME280",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t   {\t       \"celsius\":msg.payload.bme_temp - ((100 - msg.payload.bme_hum) / 5)\t    },\t   {\t        \"espID\":msg.payload.espID,\t        \"place\":'meteostation',\t        \"sensor\":'BME280'\t    }\t]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 500,
        "wires": [
            [
                "5df8ca37cd22d5d0",
                "d25d134ecf315b69"
            ]
        ]
    },
    {
        "id": "5df8ca37cd22d5d0",
        "type": "influxdb out",
        "z": "96cdfc911e5f30a8",
        "influxdb": "fc9141baac035642",
        "name": "InfluxDB/airDewPoint",
        "measurement": "airDewPoint",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "s",
        "retentionPolicyV18Flux": "",
        "org": "project",
        "bucket": "sensors",
        "x": 780,
        "y": 500,
        "wires": []
    },
    {
        "id": "d2306a3dca7b1320",
        "type": "change",
        "z": "96cdfc911e5f30a8",
        "name": "airDewPoint - DHT22",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t   {\t       \"celsius\":msg.payload.dht_temp - ((100 - msg.payload.dht_hum) / 5)\t    },\t   {\t        \"espID\":msg.payload.espID,\t        \"place\":'meteostation',\t        \"sensor\":'DHT22'\t    }\t]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 560,
        "wires": [
            [
                "5df8ca37cd22d5d0",
                "d25d134ecf315b69"
            ]
        ]
    },
    {
        "id": "d560ed001752d308",
        "type": "switch",
        "z": "96cdfc911e5f30a8",
        "name": "WiFi/MQTT Status",
        "property": "payload.status_wifimqtt",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "OK",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 470,
        "y": 920,
        "wires": [
            [
                "0067d10e3c838531"
            ]
        ]
    },
    {
        "id": "2de57bc448f5f88f",
        "type": "change",
        "z": "96cdfc911e5f30a8",
        "name": "batteryVoltage - INA219",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t   {\t       \"Volt\":msg.payload.battery_voltage,\t       \"Percent\": (100/0.9)*(msg.payload.battery_voltage-3.3)\t    },\t   {\t        \"espID\":msg.payload.espID,\t        \"place\":'meteostation',\t        \"sensor\":'INA219'\t    }\t]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 640,
        "wires": [
            [
                "107800ab4f5f7059",
                "d25d134ecf315b69"
            ]
        ]
    },
    {
        "id": "7f4f0dba7d8fde49",
        "type": "e-mail",
        "z": "96cdfc911e5f30a8",
        "server": "smtp.gmail.com",
        "port": "465",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "secure": true,
        "tls": true,
        "name": "projects.valasekm@gmail.com",
        "dname": "Email Notification",
        "x": 1130,
        "y": 1020,
        "wires": []
    },
    {
        "id": "b06b95cc7c73f34d",
        "type": "inject",
        "z": "96cdfc911e5f30a8",
        "name": "Test WiFi/MQTT email",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"espID\":\"00\"}",
        "payloadType": "json",
        "x": 460,
        "y": 960,
        "wires": [
            [
                "5d83d7a577c7972e",
                "c8e4566f7df94c88",
                "0067d10e3c838531"
            ]
        ]
    },
    {
        "id": "742a8b13d275b242",
        "type": "switch",
        "z": "96cdfc911e5f30a8",
        "name": "INA219 Status",
        "property": "payload.status_ina219",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Error",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 460,
        "y": 1013,
        "wires": [
            [
                "2bdb208f5ef1f072"
            ]
        ]
    },
    {
        "id": "a5a2d7d12d22e7a3",
        "type": "switch",
        "z": "96cdfc911e5f30a8",
        "name": "BME280 Status",
        "property": "payload.status_bme280",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Error",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 460,
        "y": 1073,
        "wires": [
            [
                "ff455845a2d5803d"
            ]
        ]
    },
    {
        "id": "c3afc4fa9db5bac4",
        "type": "switch",
        "z": "96cdfc911e5f30a8",
        "name": "DHT22 Status",
        "property": "payload.status_dht22",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Error",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 460,
        "y": 1133,
        "wires": [
            [
                "0ef68cb3c2993ada"
            ]
        ]
    },
    {
        "id": "0067d10e3c838531",
        "type": "trigger",
        "z": "96cdfc911e5f30a8",
        "name": "",
        "op1": "WiFi/MQTT trigger started",
        "op2": "",
        "op1type": "str",
        "op2type": "pay",
        "duration": "5",
        "extend": true,
        "overrideDelay": false,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 2,
        "x": 670,
        "y": 920,
        "wires": [
            [
                "0c3bd4135d50b64e",
                "12ad4ae3d6b41631"
            ],
            [
                "5d83d7a577c7972e",
                "c8e4566f7df94c88"
            ]
        ]
    },
    {
        "id": "0c3bd4135d50b64e",
        "type": "debug",
        "z": "96cdfc911e5f30a8",
        "name": "debug - WiFi/MQTT Status Started",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 860,
        "wires": []
    },
    {
        "id": "c311a3068d634258",
        "type": "debug",
        "z": "96cdfc911e5f30a8",
        "name": "debug - Status",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1120,
        "y": 1120,
        "wires": []
    },
    {
        "id": "2bdb208f5ef1f072",
        "type": "change",
        "z": "96cdfc911e5f30a8",
        "name": "INA219 email",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Meteostation00",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "INA219 - Error",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 1013,
        "wires": [
            [
                "c311a3068d634258",
                "7f4f0dba7d8fde49"
            ]
        ]
    },
    {
        "id": "0ef68cb3c2993ada",
        "type": "change",
        "z": "96cdfc911e5f30a8",
        "name": "DHT22 email",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Meteostation00",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "DHT22 - Error",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 1133,
        "wires": [
            [
                "c311a3068d634258",
                "7f4f0dba7d8fde49"
            ]
        ]
    },
    {
        "id": "ff455845a2d5803d",
        "type": "change",
        "z": "96cdfc911e5f30a8",
        "name": "BME280 email",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Meteostation00",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "BME280 - Error",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 1073,
        "wires": [
            [
                "c311a3068d634258",
                "7f4f0dba7d8fde49"
            ]
        ]
    },
    {
        "id": "5d83d7a577c7972e",
        "type": "change",
        "z": "96cdfc911e5f30a8",
        "name": "WiFi/MQTT Offline",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Meteostation00",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Meteostation with ID \"00\" is DOWN. Probably some ERROR.",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 910,
        "y": 960,
        "wires": [
            [
                "7f4f0dba7d8fde49"
            ]
        ]
    },
    {
        "id": "f261e2dbfe39d13a",
        "type": "change",
        "z": "96cdfc911e5f30a8",
        "name": "status - Device",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t   {\t       \"WiFi/MQTT\":msg.payload.status_wifimqtt,\t       \"INA219\":msg.payload.status_ina219,\t       \"BME280\":msg.payload.status_bme280,\t       \"DHT22\":msg.payload.status_dht22\t    },\t   {\t        \"espID\":msg.payload.espID,\t        \"place\":'meteostation',\t        \"sensor\":'Device'\t    }\t]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 760,
        "wires": [
            [
                "abaa693f45064b0a"
            ]
        ]
    },
    {
        "id": "abaa693f45064b0a",
        "type": "influxdb out",
        "z": "96cdfc911e5f30a8",
        "influxdb": "fc9141baac035642",
        "name": "InfluxDB/deviceStatus",
        "measurement": "deviceStatus",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "s",
        "retentionPolicyV18Flux": "",
        "org": "project",
        "bucket": "sensors",
        "x": 780,
        "y": 760,
        "wires": []
    },
    {
        "id": "84980b0d37d4b21d",
        "type": "inject",
        "z": "96cdfc911e5f30a8",
        "name": "Test INA219 email",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"espID\":\"00\",\"status_ina219\":\"Error\"}",
        "payloadType": "json",
        "x": 170,
        "y": 1040,
        "wires": [
            [
                "2bdb208f5ef1f072",
                "f261e2dbfe39d13a"
            ]
        ]
    },
    {
        "id": "c93077a022493116",
        "type": "inject",
        "z": "96cdfc911e5f30a8",
        "name": "Test BME280 email",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"espID\":\"00\",\"status_bme280\":\"Error\"}",
        "payloadType": "json",
        "x": 170,
        "y": 1100,
        "wires": [
            [
                "ff455845a2d5803d",
                "f261e2dbfe39d13a"
            ]
        ]
    },
    {
        "id": "30f417f0bd4809e7",
        "type": "inject",
        "z": "96cdfc911e5f30a8",
        "name": "Test DHT22 email",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"espID\":\"00\",\"status_dht22\":\"Error\"}",
        "payloadType": "json",
        "x": 170,
        "y": 1160,
        "wires": [
            [
                "0ef68cb3c2993ada",
                "f261e2dbfe39d13a"
            ]
        ]
    },
    {
        "id": "c8e4566f7df94c88",
        "type": "change",
        "z": "96cdfc911e5f30a8",
        "name": "status - Device - ONLY WIFI/MQTT ERROR",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t   {\t       \"WiFi/MQTT\":'Error',\t       \"INA219\":'Error',\t       \"BME280\":'Error',\t       \"DHT22\":'Error'\t    },\t   {\t        \"espID\":msg.payload.espID,\t        \"place\":'meteostation',\t        \"sensor\":'Device'\t    }\t]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 990,
        "y": 920,
        "wires": [
            [
                "abaa693f45064b0a"
            ]
        ]
    },
    {
        "id": "948dce635adb1660",
        "type": "debug",
        "z": "96cdfc911e5f30a8",
        "name": "debug - Borderline",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1150,
        "y": 1360,
        "wires": []
    },
    {
        "id": "46278a5b8a904061",
        "type": "change",
        "z": "96cdfc911e5f30a8",
        "name": "Minus temperature",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Meteostation00",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Notification: Minus temperature",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 1300,
        "wires": [
            [
                "948dce635adb1660",
                "7f4f0dba7d8fde49"
            ]
        ]
    },
    {
        "id": "1be616957936bd3e",
        "type": "function",
        "z": "96cdfc911e5f30a8",
        "name": "Minus temperature",
        "func": "if(msg.payload.bme_temp < 0 || msg.payload.dht_temp < 0){\n    return [msg, null];\n}else{\n    msg.reset = true;\n    return [null, msg]\n}",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 1260,
        "wires": [
            [
                "6a2ab7cc501334bc"
            ],
            [
                "c8489e700eeba4ed"
            ]
        ]
    },
    {
        "id": "941c05395c5007c6",
        "type": "function",
        "z": "96cdfc911e5f30a8",
        "name": "High wind speed",
        "func": "if (msg.payload.windSpeed_ms >= 5) {\n    return [msg, null];\n} else {\n    msg.reset = true;\n    return [null, msg]\n}",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 1360,
        "wires": [
            [
                "df448e40423708c2"
            ],
            [
                "33899a7acee427f0"
            ]
        ]
    },
    {
        "id": "7ded6c87dd5f4487",
        "type": "change",
        "z": "96cdfc911e5f30a8",
        "name": "High wind speed",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Meteostation00",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Notification: Wind speed is more than 5 m/s",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 1340,
        "wires": [
            [
                "948dce635adb1660",
                "7f4f0dba7d8fde49"
            ]
        ]
    },
    {
        "id": "28e8f45914625fa4",
        "type": "switch",
        "z": "96cdfc911e5f30a8",
        "name": "Rain",
        "property": "payload.rain_tips",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "gt",
                "v": "3",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "x": 350,
        "y": 1460,
        "wires": [
            [
                "11efcdfadcbe3e35"
            ],
            [
                "8c49d0945925c4af"
            ],
            [
                "df69c059aba6974d"
            ]
        ]
    },
    {
        "id": "061a182e7c176b08",
        "type": "change",
        "z": "96cdfc911e5f30a8",
        "name": "Small rain",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Meteostation00",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Notification: Small rain",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 940,
        "y": 1440,
        "wires": [
            [
                "948dce635adb1660",
                "7f4f0dba7d8fde49"
            ]
        ]
    },
    {
        "id": "5490325d40d265c9",
        "type": "change",
        "z": "96cdfc911e5f30a8",
        "name": "Bigrain",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Meteostation00",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Notification: Big rain",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 940,
        "y": 1480,
        "wires": [
            [
                "948dce635adb1660",
                "7f4f0dba7d8fde49"
            ]
        ]
    },
    {
        "id": "328c15f4cbde1b61",
        "type": "inject",
        "z": "96cdfc911e5f30a8",
        "name": "Temperature test",
        "props": [
            {
                "p": "payload.bme_temp",
                "v": "-1",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 160,
        "y": 1300,
        "wires": [
            [
                "1be616957936bd3e"
            ]
        ]
    },
    {
        "id": "eca7254b48429d8f",
        "type": "inject",
        "z": "96cdfc911e5f30a8",
        "name": "Wind Test",
        "props": [
            {
                "p": "payload.windSpeed_ms",
                "v": "10",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 140,
        "y": 1380,
        "wires": [
            [
                "941c05395c5007c6"
            ]
        ]
    },
    {
        "id": "af9c263eff36e04b",
        "type": "inject",
        "z": "96cdfc911e5f30a8",
        "name": "Small rain Test",
        "props": [
            {
                "p": "payload.rain_tips",
                "v": "1",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 160,
        "y": 1440,
        "wires": [
            [
                "28e8f45914625fa4"
            ]
        ]
    },
    {
        "id": "494b2dd5545cebe8",
        "type": "inject",
        "z": "96cdfc911e5f30a8",
        "name": "Bigrain Test",
        "props": [
            {
                "p": "payload.rain_tips",
                "v": "4",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 1480,
        "wires": [
            [
                "28e8f45914625fa4"
            ]
        ]
    },
    {
        "id": "11efcdfadcbe3e35",
        "type": "trigger",
        "z": "96cdfc911e5f30a8",
        "name": "Send once 0mm reset",
        "op1": "",
        "op2": "",
        "op1type": "pay",
        "op2type": "str",
        "duration": "30",
        "extend": false,
        "overrideDelay": false,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 2,
        "x": 740,
        "y": 1440,
        "wires": [
            [
                "061a182e7c176b08"
            ],
            []
        ]
    },
    {
        "id": "df69c059aba6974d",
        "type": "change",
        "z": "96cdfc911e5f30a8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 1500,
        "wires": [
            [
                "8c49d0945925c4af"
            ]
        ]
    },
    {
        "id": "8c49d0945925c4af",
        "type": "trigger",
        "z": "96cdfc911e5f30a8",
        "name": "Send once 0mm reset",
        "op1": "",
        "op2": "0",
        "op1type": "pay",
        "op2type": "str",
        "duration": "0",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 740,
        "y": 1480,
        "wires": [
            [
                "5490325d40d265c9"
            ]
        ]
    },
    {
        "id": "6a2ab7cc501334bc",
        "type": "trigger",
        "z": "96cdfc911e5f30a8",
        "name": "Send once +temp reset",
        "op1": "",
        "op2": "0",
        "op1type": "pay",
        "op2type": "str",
        "duration": "0",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 670,
        "y": 1240,
        "wires": [
            [
                "46278a5b8a904061"
            ]
        ]
    },
    {
        "id": "c8489e700eeba4ed",
        "type": "change",
        "z": "96cdfc911e5f30a8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 1300,
        "wires": [
            [
                "6a2ab7cc501334bc"
            ]
        ]
    },
    {
        "id": "12ad4ae3d6b41631",
        "type": "change",
        "z": "96cdfc911e5f30a8",
        "name": "WiFi/MQTT Online",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Meteostation00",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Meteostation with ID \"00\" is ONLINE.",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 910,
        "y": 880,
        "wires": [
            [
                "7f4f0dba7d8fde49"
            ]
        ]
    },
    {
        "id": "df448e40423708c2",
        "type": "trigger",
        "z": "96cdfc911e5f30a8",
        "name": "Send once <5 reset",
        "op1": "",
        "op2": "0",
        "op1type": "pay",
        "op2type": "str",
        "duration": "0",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 650,
        "y": 1340,
        "wires": [
            [
                "7ded6c87dd5f4487"
            ]
        ]
    },
    {
        "id": "33899a7acee427f0",
        "type": "change",
        "z": "96cdfc911e5f30a8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 1400,
        "wires": [
            [
                "df448e40423708c2"
            ]
        ]
    },
    {
        "id": "d25d134ecf315b69",
        "type": "debug",
        "z": "96cdfc911e5f30a8",
        "name": "debug - Calculation",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 600,
        "wires": []
    },
    {
        "id": "98c364b2ddabc504",
        "type": "change",
        "z": "96cdfc911e5f30a8",
        "name": "wifiRSSI",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t   {\t       \"rssi\":msg.payload.rssi\t    },\t   {\t        \"espID\":msg.payload.espID,\t        \"place\":'meteostation',\t        \"sensor\":'WiFi'\t    }\t]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 700,
        "wires": [
            [
                "60b24923ac7d9fe3"
            ]
        ]
    },
    {
        "id": "60b24923ac7d9fe3",
        "type": "influxdb out",
        "z": "96cdfc911e5f30a8",
        "influxdb": "fc9141baac035642",
        "name": "InfluxDB/wifiRSSI",
        "measurement": "wifiRSSI",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "s",
        "retentionPolicyV18Flux": "",
        "org": "project",
        "bucket": "sensors",
        "x": 770,
        "y": 700,
        "wires": []
    },
    {
        "id": "2d53660f049d49cf",
        "type": "mqtt in",
        "z": "96a2ad4f2349c94e",
        "name": "",
        "topic": "Pool",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "de24aff89ea8a24b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 60,
        "wires": [
            [
                "defa3b1c7122389c",
                "84aad706d2558518",
                "95844daff895f0e9"
            ]
        ]
    },
    {
        "id": "defa3b1c7122389c",
        "type": "debug",
        "z": "96a2ad4f2349c94e",
        "name": "debug Pool",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 60,
        "wires": []
    },
    {
        "id": "0269be96b983933d",
        "type": "influxdb out",
        "z": "96a2ad4f2349c94e",
        "influxdb": "6cf3364d32981979",
        "name": "Vzduch",
        "measurement": "Air",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "s",
        "retentionPolicyV18Flux": "",
        "org": "project",
        "bucket": "Pool",
        "x": 540,
        "y": 100,
        "wires": []
    },
    {
        "id": "dc0ac893d242661b",
        "type": "influxdb out",
        "z": "96a2ad4f2349c94e",
        "influxdb": "6cf3364d32981979",
        "name": "Voda",
        "measurement": "Water",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "s",
        "retentionPolicyV18Flux": "",
        "org": "project",
        "bucket": "Pool",
        "x": 530,
        "y": 140,
        "wires": []
    },
    {
        "id": "84aad706d2558518",
        "type": "change",
        "z": "96a2ad4f2349c94e",
        "name": "Air",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t   {\t       \"celsius\":msg.payload.vzduch\t    }\t]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 100,
        "wires": [
            [
                "0269be96b983933d"
            ]
        ]
    },
    {
        "id": "95844daff895f0e9",
        "type": "change",
        "z": "96a2ad4f2349c94e",
        "name": "Water",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t   {\t       \"celsius\":msg.payload.voda\t    }\t]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 140,
        "wires": [
            [
                "dc0ac893d242661b"
            ]
        ]
    },
    {
        "id": "e9242c0c25389583",
        "type": "mqtt in",
        "z": "e935873514d4c19f",
        "name": "",
        "topic": "ZaKanalom",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "de24aff89ea8a24b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 60,
        "wires": [
            [
                "1025f7e149c937ef",
                "40a6e0f60d6fc6dc"
            ]
        ]
    },
    {
        "id": "1025f7e149c937ef",
        "type": "debug",
        "z": "e935873514d4c19f",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 60,
        "wires": []
    },
    {
        "id": "40a6e0f60d6fc6dc",
        "type": "change",
        "z": "e935873514d4c19f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "msg.payload[0]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 120,
        "wires": [
            [
                "1025f7e149c937ef"
            ]
        ]
    },
    {
        "id": "7d5ceb874be859d9",
        "type": "http in",
        "z": "453c83f8481dbb4d",
        "name": "",
        "url": "/weatherstation/updateweatherstation.php",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 200,
        "y": 40,
        "wires": [
            [
                "031479fbc143dfd3",
                "cdfe9707d52ec6da",
                "b5b6df6632a7c816",
                "0375af91af16911b",
                "c61c954d6e831280",
                "d05c32f01b6aaebb",
                "a83a0dacfd81b5a4",
                "c67bee73577bd1d9",
                "2b56d8f966d0282b",
                "a4e0ad2f4a3681eb"
            ]
        ]
    },
    {
        "id": "031479fbc143dfd3",
        "type": "debug",
        "z": "453c83f8481dbb4d",
        "name": "Debug - RC Zahradka",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 40,
        "wires": []
    },
    {
        "id": "376f08e36a24c4ba",
        "type": "change",
        "z": "453c83f8481dbb4d",
        "name": "airTemperatureOLD",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t   {\t       \"fahrenheitOUT\": $number(msg.payload.tempf),\t       \"fahrenheitIN\": $number(msg.payload.indoortempf)       \t    },\t   {\t       \"deviceID\":msg.payload.ID,\t       \"deviceLocation\":'rcZahradka',\t       \"sensor\":''\t    }\t]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 250,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "01098b4af4658519",
        "type": "influxdb out",
        "z": "453c83f8481dbb4d",
        "influxdb": "b6822e669055c68d",
        "name": "InfluxDB/airTemperature",
        "measurement": "airTemperature",
        "precision": "s",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "s",
        "retentionPolicyV18Flux": "",
        "org": "project",
        "bucket": "rcZahradka",
        "x": 870,
        "y": 100,
        "wires": []
    },
    {
        "id": "cdfe9707d52ec6da",
        "type": "change",
        "z": "453c83f8481dbb4d",
        "name": "airHumidity",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t   {\t       \"percentOUT\": $number(msg.payload.humidity),\t       \"percentIN\": $number(msg.payload.indoorhumidity)       \t    },\t   {\t       \"deviceID\":msg.payload.ID,\t       \"deviceLocation\":'rcZahradka',\t       \"sensor\":''\t    }\t]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 140,
        "wires": [
            [
                "7c389c3251534e11"
            ]
        ]
    },
    {
        "id": "36d5e91bfd444bd9",
        "type": "change",
        "z": "453c83f8481dbb4d",
        "name": "windSpeed/windGustOLD",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t   {\t       \"speedmph\": $number(msg.payload.windspeedmph),\t       \"gustmph\": $number(msg.payload.windgustmph)\t    },\t   {\t        \"deviceID\":msg.payload.ID,\t        \"deviceLocation\":'rcZahradka',\t        \"sensor\":''\t    }\t]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 270,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "ceb585168e12d152",
        "type": "change",
        "z": "453c83f8481dbb4d",
        "name": "barominOLD",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t   {\t       \"mercuryInch\": $number(msg.payload.baromin)\t    },\t   {\t        \"deviceID\":msg.payload.ID,\t        \"deviceLocation\":'rcZahradka',\t        \"sensor\":''\t    }\t]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 230,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "b5b6df6632a7c816",
        "type": "change",
        "z": "453c83f8481dbb4d",
        "name": "windDirection",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t   {\t       \"deg\": $number(msg.payload.winddir)\t    },\t   {\t        \"deviceID\":msg.payload.ID,\t        \"deviceLocation\":'rcZahradka',\t        \"sensor\":''\t    }\t]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 260,
        "wires": [
            [
                "987922b15f9a304c"
            ]
        ]
    },
    {
        "id": "ef2cbb35dd47afc4",
        "type": "change",
        "z": "453c83f8481dbb4d",
        "name": "rainGaugeOLD",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t   {\t       \"dailyinch\": $number(msg.payload.dailyrainin),\t       \"inch\": $number(msg.payload.rainin)\t    },\t   {\t        \"deviceID\":msg.payload.ID,\t        \"deviceLocation\":'rcZahradka',\t        \"sensor\":''\t    }\t]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 240,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "74e441570b07f4e0",
        "type": "change",
        "z": "453c83f8481dbb4d",
        "name": "airDewPointOLD",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t   {\t       \"fahrenheit\": $number(msg.payload.dewptf)\t    },\t   {\t        \"deviceID\":msg.payload.ID,\t        \"deviceLocation\":'rcZahradka',\t        \"sensor\":''\t    }\t]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 250,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "a4e0ad2f4a3681eb",
        "type": "change",
        "z": "453c83f8481dbb4d",
        "name": "UV",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t   {\t       \"index\": $number(msg.payload.UV)\t    },\t   {\t        \"deviceID\":msg.payload.ID,\t        \"deviceLocation\":'rcZahradka',\t        \"sensor\":''\t    }\t]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 380,
        "wires": [
            [
                "cdf0032c95f4467c"
            ]
        ]
    },
    {
        "id": "0375af91af16911b",
        "type": "change",
        "z": "453c83f8481dbb4d",
        "name": "solarRadiation",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t   {\t       \"watt/m2\": $number(msg.payload.solarradiation)\t    },\t   {\t        \"deviceID\":msg.payload.ID,\t        \"deviceLocation\":'rcZahradka',\t        \"sensor\":''\t    }\t]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 420,
        "wires": [
            [
                "97650499db9ea4f2"
            ]
        ]
    },
    {
        "id": "7c389c3251534e11",
        "type": "influxdb out",
        "z": "453c83f8481dbb4d",
        "influxdb": "b6822e669055c68d",
        "name": "InfluxDB/airHumidity",
        "measurement": "airHumidity",
        "precision": "s",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "s",
        "retentionPolicyV18Flux": "",
        "org": "project",
        "bucket": "rcZahradka",
        "x": 860,
        "y": 140,
        "wires": []
    },
    {
        "id": "b3bcab6793ecc032",
        "type": "influxdb out",
        "z": "453c83f8481dbb4d",
        "influxdb": "b6822e669055c68d",
        "name": "InfluxDB/airSpeed/Gust",
        "measurement": "airSpeed/Gust",
        "precision": "s",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "s",
        "retentionPolicyV18Flux": "",
        "org": "project",
        "bucket": "rcZahradka",
        "x": 870,
        "y": 180,
        "wires": []
    },
    {
        "id": "f4b0f714eee062ab",
        "type": "influxdb out",
        "z": "453c83f8481dbb4d",
        "influxdb": "b6822e669055c68d",
        "name": "InfluxDB/airPressure",
        "measurement": "airPressure",
        "precision": "s",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "s",
        "retentionPolicyV18Flux": "",
        "org": "project",
        "bucket": "rcZahradka",
        "x": 860,
        "y": 220,
        "wires": []
    },
    {
        "id": "987922b15f9a304c",
        "type": "influxdb out",
        "z": "453c83f8481dbb4d",
        "influxdb": "b6822e669055c68d",
        "name": "InfluxDB/windDirection",
        "measurement": "windDirection",
        "precision": "s",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "s",
        "retentionPolicyV18Flux": "",
        "org": "project",
        "bucket": "rcZahradka",
        "x": 860,
        "y": 260,
        "wires": []
    },
    {
        "id": "05db5eda365880f2",
        "type": "influxdb out",
        "z": "453c83f8481dbb4d",
        "influxdb": "b6822e669055c68d",
        "name": "InfluxDB/rainGauge",
        "measurement": "rainGauge",
        "precision": "s",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "s",
        "retentionPolicyV18Flux": "",
        "org": "project",
        "bucket": "rcZahradka",
        "x": 850,
        "y": 300,
        "wires": []
    },
    {
        "id": "789cf1849310225e",
        "type": "influxdb out",
        "z": "453c83f8481dbb4d",
        "influxdb": "b6822e669055c68d",
        "name": "InfluxDB/airDewPoint",
        "measurement": "airDewPoint",
        "precision": "s",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "s",
        "retentionPolicyV18Flux": "",
        "org": "project",
        "bucket": "rcZahradka",
        "x": 860,
        "y": 340,
        "wires": []
    },
    {
        "id": "cdf0032c95f4467c",
        "type": "influxdb out",
        "z": "453c83f8481dbb4d",
        "influxdb": "b6822e669055c68d",
        "name": "InfluxDB/UV",
        "measurement": "UV",
        "precision": "s",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "s",
        "retentionPolicyV18Flux": "",
        "org": "project",
        "bucket": "rcZahradka",
        "x": 830,
        "y": 380,
        "wires": []
    },
    {
        "id": "97650499db9ea4f2",
        "type": "influxdb out",
        "z": "453c83f8481dbb4d",
        "influxdb": "b6822e669055c68d",
        "name": "InfluxDB/solarRadiation",
        "measurement": "solarRadiation",
        "precision": "s",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "s",
        "retentionPolicyV18Flux": "",
        "org": "project",
        "bucket": "rcZahradka",
        "x": 870,
        "y": 420,
        "wires": []
    },
    {
        "id": "c61c954d6e831280",
        "type": "change",
        "z": "453c83f8481dbb4d",
        "name": "airTemperature",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t   {\t       \"fahrenheitOUT\": $number(msg.payload.tempf),\t       \"fahrenheitIN\": $number(msg.payload.indoortempf),\t       \"celsiusOUT\": ($number(msg.payload.tempf) - 32) / 1.8,\t       \"celsiusIN\": ($number(msg.payload.indoortempf) - 32) / 1.8       \t    },\t   {\t       \"deviceID\":msg.payload.ID,\t       \"deviceLocation\":'rcZahradka',\t       \"sensor\":''\t    }\t]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 100,
        "wires": [
            [
                "01098b4af4658519"
            ]
        ]
    },
    {
        "id": "d05c32f01b6aaebb",
        "type": "change",
        "z": "453c83f8481dbb4d",
        "name": "windSpeed/windGust",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t   {\t       \"speedmph\": $number(msg.payload.windspeedmph),\t       \"gustmph\": $number(msg.payload.windgustmph),\t       \"speedkmh\": $number(msg.payload.windspeedmph) * 1.609344,\t       \"gustkmh\": $number(msg.payload.windgustmph) * 1.609344,\t       \"speedms\": $number(msg.payload.windspeedmph) * 0.44704,\t       \"gustms\": $number(msg.payload.windgustmph) * 0.44704 \t   },\t   {\t       \"deviceID\":msg.payload.ID,\t       \"deviceLocation\":'rcZahradka',\t       \"sensor\":'' \t   } \t]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 180,
        "wires": [
            [
                "b3bcab6793ecc032"
            ]
        ]
    },
    {
        "id": "a83a0dacfd81b5a4",
        "type": "change",
        "z": "453c83f8481dbb4d",
        "name": "baromin",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t   {\t       \"mercuryInch\": $number(msg.payload.baromin),\t       \"hPa\": $number(msg.payload.baromin) * 33.863889\t    },\t   {\t        \"deviceID\":msg.payload.ID,\t        \"deviceLocation\":'rcZahradka',\t        \"sensor\":''\t    }\t]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 220,
        "wires": [
            [
                "f4b0f714eee062ab"
            ]
        ]
    },
    {
        "id": "c67bee73577bd1d9",
        "type": "change",
        "z": "453c83f8481dbb4d",
        "name": "rainGauge",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t   {\t       \"dailyinch\": $number(msg.payload.dailyrainin),\t       \"inch\": $number(msg.payload.rainin),\t       \"dailymm\": $number(msg.payload.dailyrainin) * 25.4,\t       \"mm\": $number(msg.payload.rainin) * 25.4\t    },\t   {\t        \"deviceID\":msg.payload.ID,\t        \"deviceLocation\":'rcZahradka',\t        \"sensor\":''\t    }\t]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 300,
        "wires": [
            [
                "05db5eda365880f2"
            ]
        ]
    },
    {
        "id": "2b56d8f966d0282b",
        "type": "change",
        "z": "453c83f8481dbb4d",
        "name": "airDewPoint",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t   {\t       \"fahrenheit\": $number(msg.payload.dewptf),\t       \"celsius\": ($number(msg.payload.dewptf) - 32) / 1.8\t    },\t   {\t        \"deviceID\":msg.payload.ID,\t        \"deviceLocation\":'rcZahradka',\t        \"sensor\":''\t    }\t]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 340,
        "wires": [
            [
                "789cf1849310225e"
            ]
        ]
    },
    {
        "id": "dd27228254a011ea",
        "type": "mqtt in",
        "z": "99587b48e67a75ad",
        "name": "",
        "topic": "DPTest",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "de24aff89ea8a24b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 50,
        "y": 160,
        "wires": [
            [
                "268f513df21a4950",
                "b7589fb4975fa2e0",
                "3cb4bd9a29f2a58d",
                "17f06a0e868fd771",
                "593618694662cd4a",
                "9667f898fc2daa90",
                "19c4be7afe98d52d",
                "b601b3f939632e59",
                "0d1d9c6f35b917bf",
                "dd66bd05e2252580",
                "528c843c1115666b",
                "e401402bea597106",
                "257f82b84558fdf7",
                "b892e0011c0272d5"
            ]
        ]
    },
    {
        "id": "b7589fb4975fa2e0",
        "type": "change",
        "z": "99587b48e67a75ad",
        "name": "airTemperature - DHT22",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t   {\t       \"celsius\":msg.payload.dht_temp\t    },\t   {\t        \"espID\":msg.payload.espID,\t        \"place\":'meteostation',\t        \"sensor\":'DHT22'\t    }\t]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 495,
        "y": 200,
        "wires": [
            [
                "56ff16e1613aa547"
            ]
        ]
    },
    {
        "id": "3cb4bd9a29f2a58d",
        "type": "change",
        "z": "99587b48e67a75ad",
        "name": "airTemperature - BME280",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t   {\t       \"celsius\":msg.payload.bme_temp\t    },\t   {\t        \"espID\":msg.payload.espID,\t        \"place\":'meteostation',\t        \"sensor\":'BME280'\t    }\t]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 495,
        "y": 240,
        "wires": [
            [
                "56ff16e1613aa547"
            ]
        ]
    },
    {
        "id": "17f06a0e868fd771",
        "type": "change",
        "z": "99587b48e67a75ad",
        "name": "airHumidity - DHT22",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t   {\t       \"percent\":msg.payload.dht_hum\t    },\t   {\t        \"espID\":msg.payload.espID,\t        \"place\":'meteostation',\t        \"sensor\":'DHT22'\t    }\t]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 280,
        "wires": [
            [
                "5ebd7f175c08378e"
            ]
        ]
    },
    {
        "id": "268f513df21a4950",
        "type": "debug",
        "z": "99587b48e67a75ad",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 985,
        "y": 160,
        "wires": []
    },
    {
        "id": "56ff16e1613aa547",
        "type": "influxdb out",
        "z": "99587b48e67a75ad",
        "influxdb": "6939a609d9250890",
        "name": "InfluxDB/airTemperature",
        "measurement": "airTemperature",
        "precision": "s",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "s",
        "retentionPolicyV18Flux": "",
        "org": "project",
        "bucket": "test",
        "x": 1035,
        "y": 200,
        "wires": []
    },
    {
        "id": "5ebd7f175c08378e",
        "type": "influxdb out",
        "z": "99587b48e67a75ad",
        "influxdb": "6939a609d9250890",
        "name": "InfluxDB/airHumidity",
        "measurement": "airHumidity",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "s",
        "retentionPolicyV18Flux": "",
        "org": "project",
        "bucket": "test",
        "x": 1020,
        "y": 280,
        "wires": []
    },
    {
        "id": "801e2f381949459a",
        "type": "influxdb out",
        "z": "99587b48e67a75ad",
        "influxdb": "6939a609d9250890",
        "name": "InfluxDB/airPressure",
        "measurement": "airPressure",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "s",
        "retentionPolicyV18Flux": "",
        "org": "project",
        "bucket": "test",
        "x": 1020,
        "y": 380,
        "wires": []
    },
    {
        "id": "73d84a26fa640815",
        "type": "influxdb out",
        "z": "99587b48e67a75ad",
        "influxdb": "6939a609d9250890",
        "name": "InfluxDB/batteryVoltage",
        "measurement": "batteryVoltage",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "s",
        "retentionPolicyV18Flux": "",
        "org": "project",
        "bucket": "test",
        "x": 1010,
        "y": 820,
        "wires": []
    },
    {
        "id": "593618694662cd4a",
        "type": "change",
        "z": "99587b48e67a75ad",
        "name": "airHumidity - BME280",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t   {\t       \"percent\":msg.payload.bme_hum\t    },\t   {\t        \"espID\":msg.payload.espID,\t        \"place\":'meteostation',\t        \"sensor\":'BME280'\t    }\t]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 320,
        "wires": [
            [
                "5ebd7f175c08378e"
            ]
        ]
    },
    {
        "id": "9667f898fc2daa90",
        "type": "change",
        "z": "99587b48e67a75ad",
        "name": "airPressure- BME280",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t   {\t       \"hPa\":msg.payload.bme_press\t    },\t   {\t        \"espID\":msg.payload.espID,\t        \"place\":'meteostation',\t        \"sensor\":'BME280'\t    }\t]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 380,
        "wires": [
            [
                "801e2f381949459a"
            ]
        ]
    },
    {
        "id": "19c4be7afe98d52d",
        "type": "change",
        "z": "99587b48e67a75ad",
        "name": "windSpeed-WH-SP-WS01",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t   {\t       \"tips\":msg.payload.windSpeed_tips,\t       \"1Hz\":msg.payload.windSpeed_1Hz,\t       \"ms\":msg.payload.windSpeed_ms,\t       \"kmh\":msg.payload.windSpeed_kmh\t    },\t   {\t        \"espID\":msg.payload.espID,\t        \"place\":'meteostation',\t        \"sensor\":'WH-SP-WS01'\t    }\t]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 440,
        "wires": [
            [
                "68756c1b542a2b29"
            ]
        ]
    },
    {
        "id": "b601b3f939632e59",
        "type": "change",
        "z": "99587b48e67a75ad",
        "name": "windDirection-WH-SP-WD",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t   {\t       \"adc\":msg.payload.windDir_ADC,\t       \"deg\":msg.payload.windDir_deg,\t       \"name\":msg.payload.windDir_name\t    },\t   {\t        \"espID\":msg.payload.espID,\t        \"place\":'meteostation',\t        \"sensor\":'WH-SP-WD'\t    }\t]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 500,
        "wires": [
            [
                "8d54a081b11941db"
            ]
        ]
    },
    {
        "id": "0d1d9c6f35b917bf",
        "type": "change",
        "z": "99587b48e67a75ad",
        "name": "rainGauge-MS-WH-SP-RG",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t   {\t       \"tips\":msg.payload.rain_tips,\t       \"mm\":msg.payload.rain_mm\t    },\t   {\t        \"espID\":msg.payload.espID,\t        \"place\":'meteostation',\t        \"sensor\":'MS-WH-SP-RG'\t    }\t]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 560,
        "wires": [
            [
                "7cd048707b5b2388"
            ]
        ]
    },
    {
        "id": "68756c1b542a2b29",
        "type": "influxdb out",
        "z": "99587b48e67a75ad",
        "influxdb": "6939a609d9250890",
        "name": "InfluxDB/windSpeed",
        "measurement": "windSpeed",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "s",
        "retentionPolicyV18Flux": "",
        "org": "project",
        "bucket": "test",
        "x": 1020,
        "y": 440,
        "wires": []
    },
    {
        "id": "8d54a081b11941db",
        "type": "influxdb out",
        "z": "99587b48e67a75ad",
        "influxdb": "6939a609d9250890",
        "name": "InfluxDB/windDirection",
        "measurement": "windDirection",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "s",
        "retentionPolicyV18Flux": "",
        "org": "project",
        "bucket": "test",
        "x": 1020,
        "y": 500,
        "wires": []
    },
    {
        "id": "7cd048707b5b2388",
        "type": "influxdb out",
        "z": "99587b48e67a75ad",
        "influxdb": "6939a609d9250890",
        "name": "InfluxDB/rainGauge",
        "measurement": "rainGauge",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "s",
        "retentionPolicyV18Flux": "",
        "org": "project",
        "bucket": "test",
        "x": 1010,
        "y": 560,
        "wires": []
    },
    {
        "id": "dd66bd05e2252580",
        "type": "change",
        "z": "99587b48e67a75ad",
        "name": "airDewPoint - BME280",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t   {\t       \"celsius\":msg.payload.bme_temp - ((100 - msg.payload.bme_hum) / 5)\t    },\t   {\t        \"espID\":msg.payload.espID,\t        \"place\":'meteostation',\t        \"sensor\":'BME280'\t    }\t]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 620,
        "wires": [
            [
                "268f513df21a4950",
                "37eacab2c207be5d"
            ]
        ]
    },
    {
        "id": "37eacab2c207be5d",
        "type": "influxdb out",
        "z": "99587b48e67a75ad",
        "influxdb": "6939a609d9250890",
        "name": "InfluxDB/airDewPoint",
        "measurement": "airDewPoint",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "s",
        "retentionPolicyV18Flux": "",
        "org": "project",
        "bucket": "test",
        "x": 1020,
        "y": 620,
        "wires": []
    },
    {
        "id": "528c843c1115666b",
        "type": "change",
        "z": "99587b48e67a75ad",
        "name": "airDewPoint - DHT22",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t   {\t       \"celsius\":msg.payload.dht_temp - ((100 - msg.payload.dht_hum) / 5)\t    },\t   {\t        \"espID\":msg.payload.espID,\t        \"place\":'meteostation',\t        \"sensor\":'DHT22'\t    }\t]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 680,
        "wires": [
            [
                "268f513df21a4950",
                "37eacab2c207be5d"
            ]
        ]
    },
    {
        "id": "e401402bea597106",
        "type": "switch",
        "z": "99587b48e67a75ad",
        "name": "Status",
        "property": "payload.status",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "OK",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Error:WiFi",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Error:BME/DHT",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Error:MS-WH-SP-RG",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Error:WH-SP-WS01",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Error:WH-SP-WD",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Error:MQTT",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 7,
        "x": 430,
        "y": 820,
        "wires": [
            [],
            [],
            [],
            [],
            [],
            [],
            []
        ]
    },
    {
        "id": "257f82b84558fdf7",
        "type": "function",
        "z": "99587b48e67a75ad",
        "name": "Minus Temperature",
        "func": "var newMsg;\nif (msg.payload.bme280_temp < 0 || msg.payload.dht22_temp < 0){\n    newMsg = {\n        \"payload\": 'Minus Temperature'\n    }\n    return newMsg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 900,
        "wires": [
            [
                "268f513df21a4950"
            ]
        ]
    },
    {
        "id": "90c1df29459c6a9e",
        "type": "influxdb out",
        "z": "99587b48e67a75ad",
        "influxdb": "6939a609d9250890",
        "name": "InfluxDB/status",
        "measurement": "status",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "s",
        "retentionPolicyV18Flux": "",
        "org": "project",
        "bucket": "test",
        "x": 1000,
        "y": 740,
        "wires": []
    },
    {
        "id": "b892e0011c0272d5",
        "type": "change",
        "z": "99587b48e67a75ad",
        "name": "status",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t   {\t       \"status\":msg.payload.status\t    },\t   {\t        \"espID\":msg.payload.espID,\t        \"place\":'meteostation'\t    }\t]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 740,
        "wires": [
            [
                "90c1df29459c6a9e"
            ]
        ]
    },
    {
        "id": "8b7c65773675bfa3",
        "type": "inject",
        "z": "99587b48e67a75ad",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 540,
        "y": 980,
        "wires": [
            [
                "2baf506339bba1bb"
            ]
        ]
    },
    {
        "id": "2baf506339bba1bb",
        "type": "trigger",
        "z": "99587b48e67a75ad",
        "name": "",
        "op1": "",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "2",
        "extend": true,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 740,
        "y": 840,
        "wires": [
            [
                "268f513df21a4950"
            ]
        ]
    },
    {
        "id": "c491c7a5e3af0b5e",
        "type": "mqtt in",
        "z": "99587b48e67a75ad",
        "name": "",
        "topic": "/Test",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "de24aff89ea8a24b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 50,
        "y": 80,
        "wires": [
            [
                "8b209fb70b5f70fe"
            ]
        ]
    },
    {
        "id": "8b209fb70b5f70fe",
        "type": "debug",
        "z": "99587b48e67a75ad",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 220,
        "y": 80,
        "wires": []
    }
]