server/nodered/flows.json
[
    {
        "id": "96cdfc911e5f30a8",
        "type": "tab",
        "label": "DP-Meteo",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "99587b48e67a75ad",
        "type": "tab",
        "label": "DP-Test",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "de24aff89ea8a24b",
        "type": "mqtt-broker",
        "name": "MQTT Broker",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "3",
        "keepalive": "90",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "fc9141baac035642",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "database",
        "name": "InfluxDB IoT",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://influxdb:8086",
        "timeout": "10",
        "rejectUnauthorized": true
    },
    {
        "id": "6939a609d9250890",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "database",
        "name": "InfluxDB Test",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://influxdb:8086",
        "timeout": "10",
        "rejectUnauthorized": true
    },
    {
        "id": "e4bcacc3334c7edb",
        "type": "mqtt in",
        "z": "96cdfc911e5f30a8",
        "name": "",
        "topic": "project",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "de24aff89ea8a24b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 600,
        "wires": [
            [
                "fca26e21852167cb",
                "9d44ec2f582d53a5",
                "f766d64a5545da63",
                "2e9eb97c1e75e9f5",
                "da9c1574f143852f",
                "7854719d33019e25",
                "0aa8f1c1084b6282",
                "f92c99b12b662c95",
                "d777f82ef5d96b86",
                "13180289d11a95a8",
                "d2306a3dca7b1320",
                "d560ed001752d308",
                "2de57bc448f5f88f",
                "742a8b13d275b242",
                "a5a2d7d12d22e7a3",
                "c3afc4fa9db5bac4",
                "f261e2dbfe39d13a",
                "1be616957936bd3e",
                "941c05395c5007c6",
                "28e8f45914625fa4"
            ]
        ]
    },
    {
        "id": "9d44ec2f582d53a5",
        "type": "change",
        "z": "96cdfc911e5f30a8",
        "name": "airTemperature - DHT22",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t   {\t       \"celsius\":msg.payload.dht_temp\t    },\t   {\t        \"espID\":msg.payload.espID,\t        \"place\":'meteostation',\t        \"sensor\":'DHT22'\t    }\t]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 60,
        "wires": [
            [
                "3dcf579ac1a09e17"
            ]
        ]
    },
    {
        "id": "f766d64a5545da63",
        "type": "change",
        "z": "96cdfc911e5f30a8",
        "name": "airTemperature - BME280",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t   {\t       \"celsius\":msg.payload.bme_temp\t    },\t   {\t        \"espID\":msg.payload.espID,\t        \"place\":'meteostation',\t        \"sensor\":'BME280'\t    }\t]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 100,
        "wires": [
            [
                "3dcf579ac1a09e17"
            ]
        ]
    },
    {
        "id": "2e9eb97c1e75e9f5",
        "type": "change",
        "z": "96cdfc911e5f30a8",
        "name": "airHumidity - DHT22",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t   {\t       \"percent\":msg.payload.dht_hum\t    },\t   {\t        \"espID\":msg.payload.espID,\t        \"place\":'meteostation',\t        \"sensor\":'DHT22'\t    }\t]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 160,
        "wires": [
            [
                "9ed5169014441026"
            ]
        ]
    },
    {
        "id": "fca26e21852167cb",
        "type": "debug",
        "z": "96cdfc911e5f30a8",
        "name": "debug - Message and Dew Point",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1050,
        "y": 600,
        "wires": []
    },
    {
        "id": "3dcf579ac1a09e17",
        "type": "influxdb out",
        "z": "96cdfc911e5f30a8",
        "influxdb": "fc9141baac035642",
        "name": "InfluxDB/airTemperature",
        "measurement": "airTemperature",
        "precision": "s",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "s",
        "retentionPolicyV18Flux": "",
        "org": "project",
        "bucket": "sensors",
        "x": 1030,
        "y": 60,
        "wires": []
    },
    {
        "id": "9ed5169014441026",
        "type": "influxdb out",
        "z": "96cdfc911e5f30a8",
        "influxdb": "fc9141baac035642",
        "name": "InfluxDB/airHumidity",
        "measurement": "airHumidity",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "s",
        "retentionPolicyV18Flux": "",
        "org": "project",
        "bucket": "sensors",
        "x": 1020,
        "y": 160,
        "wires": []
    },
    {
        "id": "beb5e0ccdab79f3a",
        "type": "influxdb out",
        "z": "96cdfc911e5f30a8",
        "influxdb": "fc9141baac035642",
        "name": "InfluxDB/airPressure",
        "measurement": "airPressure",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "s",
        "retentionPolicyV18Flux": "",
        "org": "project",
        "bucket": "sensors",
        "x": 1020,
        "y": 260,
        "wires": []
    },
    {
        "id": "107800ab4f5f7059",
        "type": "influxdb out",
        "z": "96cdfc911e5f30a8",
        "influxdb": "fc9141baac035642",
        "name": "InfluxDB/batteryVoltage",
        "measurement": "batteryVoltage",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "s",
        "retentionPolicyV18Flux": "",
        "org": "project",
        "bucket": "sensors",
        "x": 1030,
        "y": 640,
        "wires": []
    },
    {
        "id": "da9c1574f143852f",
        "type": "change",
        "z": "96cdfc911e5f30a8",
        "name": "airHumidity - BME280",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t   {\t       \"percent\":msg.payload.bme_hum\t    },\t   {\t        \"espID\":msg.payload.espID,\t        \"place\":'meteostation',\t        \"sensor\":'BME280'\t    }\t]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 200,
        "wires": [
            [
                "9ed5169014441026"
            ]
        ]
    },
    {
        "id": "7854719d33019e25",
        "type": "change",
        "z": "96cdfc911e5f30a8",
        "name": "airPressure- BME280",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t   {\t       \"hPa\":msg.payload.bme_press\t    },\t   {\t        \"espID\":msg.payload.espID,\t        \"place\":'meteostation',\t        \"sensor\":'BME280'\t    }\t]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 260,
        "wires": [
            [
                "beb5e0ccdab79f3a"
            ]
        ]
    },
    {
        "id": "0aa8f1c1084b6282",
        "type": "change",
        "z": "96cdfc911e5f30a8",
        "name": "windSpeed-WH-SP-WS01",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t   {\t       \"tips\":msg.payload.windSpeed_tips,\t       \"1Hz\":msg.payload.windSpeed_1Hz,\t       \"ms\":msg.payload.windSpeed_ms,\t       \"kmh\":msg.payload.windSpeed_kmh\t    },\t   {\t        \"espID\":msg.payload.espID,\t        \"place\":'meteostation',\t        \"sensor\":'WH-SP-WS01'\t    }\t]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 320,
        "wires": [
            [
                "2583c57e638de367"
            ]
        ]
    },
    {
        "id": "f92c99b12b662c95",
        "type": "change",
        "z": "96cdfc911e5f30a8",
        "name": "windDirection-WH-SP-WD",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t   {\t       \"adc\":msg.payload.windDir_ADC,\t       \"deg\":msg.payload.windDir_deg,\t       \"name\":msg.payload.windDir_name\t    },\t   {\t        \"espID\":msg.payload.espID,\t        \"place\":'meteostation',\t        \"sensor\":'WH-SP-WD'\t    }\t]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 380,
        "wires": [
            [
                "ab765a44fc8ebc07"
            ]
        ]
    },
    {
        "id": "d777f82ef5d96b86",
        "type": "change",
        "z": "96cdfc911e5f30a8",
        "name": "rainGauge-MS-WH-SP-RG",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t   {\t       \"tips\":msg.payload.rain_tips,\t       \"mm\":msg.payload.rain_mm\t    },\t   {\t        \"espID\":msg.payload.espID,\t        \"place\":'meteostation',\t        \"sensor\":'MS-WH-SP-RG'\t    }\t]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 440,
        "wires": [
            [
                "8717fa8e07a0b69a"
            ]
        ]
    },
    {
        "id": "2583c57e638de367",
        "type": "influxdb out",
        "z": "96cdfc911e5f30a8",
        "influxdb": "fc9141baac035642",
        "name": "InfluxDB/windSpeed",
        "measurement": "windSpeed",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "s",
        "retentionPolicyV18Flux": "",
        "org": "project",
        "bucket": "sensors",
        "x": 1020,
        "y": 320,
        "wires": []
    },
    {
        "id": "ab765a44fc8ebc07",
        "type": "influxdb out",
        "z": "96cdfc911e5f30a8",
        "influxdb": "fc9141baac035642",
        "name": "InfluxDB/windDirection",
        "measurement": "windDirection",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "s",
        "retentionPolicyV18Flux": "",
        "org": "project",
        "bucket": "sensors",
        "x": 1020,
        "y": 380,
        "wires": []
    },
    {
        "id": "8717fa8e07a0b69a",
        "type": "influxdb out",
        "z": "96cdfc911e5f30a8",
        "influxdb": "fc9141baac035642",
        "name": "InfluxDB/rainGauge",
        "measurement": "rainGauge",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "s",
        "retentionPolicyV18Flux": "",
        "org": "project",
        "bucket": "sensors",
        "x": 1010,
        "y": 440,
        "wires": []
    },
    {
        "id": "13180289d11a95a8",
        "type": "change",
        "z": "96cdfc911e5f30a8",
        "name": "airDewPoint - BME280",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t   {\t       \"celsius\":msg.payload.bme_temp - ((100 - msg.payload.bme_hum) / 5)\t    },\t   {\t        \"espID\":msg.payload.espID,\t        \"place\":'meteostation',\t        \"sensor\":'BME280'\t    }\t]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 500,
        "wires": [
            [
                "fca26e21852167cb",
                "5df8ca37cd22d5d0"
            ]
        ]
    },
    {
        "id": "5df8ca37cd22d5d0",
        "type": "influxdb out",
        "z": "96cdfc911e5f30a8",
        "influxdb": "fc9141baac035642",
        "name": "InfluxDB/airDewPoint",
        "measurement": "airDewPoint",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "s",
        "retentionPolicyV18Flux": "",
        "org": "project",
        "bucket": "sensors",
        "x": 1020,
        "y": 500,
        "wires": []
    },
    {
        "id": "d2306a3dca7b1320",
        "type": "change",
        "z": "96cdfc911e5f30a8",
        "name": "airDewPoint - DHT22",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t   {\t       \"celsius\":msg.payload.dht_temp - ((100 - msg.payload.dht_hum) / 5)\t    },\t   {\t        \"espID\":msg.payload.espID,\t        \"place\":'meteostation',\t        \"sensor\":'DHT22'\t    }\t]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 560,
        "wires": [
            [
                "5df8ca37cd22d5d0",
                "fca26e21852167cb"
            ]
        ]
    },
    {
        "id": "d560ed001752d308",
        "type": "switch",
        "z": "96cdfc911e5f30a8",
        "name": "WiFi/MQTT Status",
        "property": "payload.status_wifimqtt",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "OK",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 470,
        "y": 820,
        "wires": [
            [
                "0067d10e3c838531"
            ]
        ]
    },
    {
        "id": "2de57bc448f5f88f",
        "type": "change",
        "z": "96cdfc911e5f30a8",
        "name": "batteryVoltage - INA219",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t   {\t       \"Volt\":msg.payload.battery_voltage,\t       \"Percent\": (100/1.5)*(msg.payload.battery_voltage-2.7)\t    },\t   {\t        \"espID\":msg.payload.espID,\t        \"place\":'meteostation',\t        \"sensor\":'INA219'\t    }\t]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 640,
        "wires": [
            [
                "107800ab4f5f7059"
            ]
        ]
    },
    {
        "id": "7f4f0dba7d8fde49",
        "type": "e-mail",
        "z": "96cdfc911e5f30a8",
        "server": "smtp.gmail.com",
        "port": "465",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "secure": true,
        "tls": true,
        "name": "projects.valasekm@gmail.com",
        "dname": "",
        "x": 1250,
        "y": 940,
        "wires": []
    },
    {
        "id": "b06b95cc7c73f34d",
        "type": "inject",
        "z": "96cdfc911e5f30a8",
        "name": "Test WiFi/MQTT email",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"espID\":\"00\"}",
        "payloadType": "json",
        "x": 460,
        "y": 860,
        "wires": [
            [
                "5d83d7a577c7972e",
                "c8e4566f7df94c88",
                "0067d10e3c838531"
            ]
        ]
    },
    {
        "id": "742a8b13d275b242",
        "type": "switch",
        "z": "96cdfc911e5f30a8",
        "name": "INA219 Status",
        "property": "payload.status_ina219",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Error",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 460,
        "y": 920,
        "wires": [
            [
                "2bdb208f5ef1f072"
            ]
        ]
    },
    {
        "id": "a5a2d7d12d22e7a3",
        "type": "switch",
        "z": "96cdfc911e5f30a8",
        "name": "BME280 Status",
        "property": "payload.status_bme280",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Error",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 460,
        "y": 980,
        "wires": [
            [
                "ff455845a2d5803d"
            ]
        ]
    },
    {
        "id": "c3afc4fa9db5bac4",
        "type": "switch",
        "z": "96cdfc911e5f30a8",
        "name": "DHT22 Status",
        "property": "payload.status_dht22",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Error",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 460,
        "y": 1040,
        "wires": [
            [
                "0ef68cb3c2993ada"
            ]
        ]
    },
    {
        "id": "0067d10e3c838531",
        "type": "trigger",
        "z": "96cdfc911e5f30a8",
        "name": "",
        "op1": "WiFi/MQTT trigger started",
        "op2": "",
        "op1type": "str",
        "op2type": "pay",
        "duration": "15",
        "extend": true,
        "overrideDelay": false,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 2,
        "x": 670,
        "y": 820,
        "wires": [
            [
                "0c3bd4135d50b64e",
                "12ad4ae3d6b41631",
                "c8e4566f7df94c88"
            ],
            [
                "5d83d7a577c7972e",
                "c8e4566f7df94c88"
            ]
        ]
    },
    {
        "id": "0c3bd4135d50b64e",
        "type": "debug",
        "z": "96cdfc911e5f30a8",
        "name": "debug - WiFi/MQTT Status Started",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 740,
        "wires": []
    },
    {
        "id": "c311a3068d634258",
        "type": "debug",
        "z": "96cdfc911e5f30a8",
        "name": "debug - Status",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1260,
        "y": 1040,
        "wires": []
    },
    {
        "id": "2bdb208f5ef1f072",
        "type": "change",
        "z": "96cdfc911e5f30a8",
        "name": "INA219 email",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Meteostation00",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "INA219 - Error",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 920,
        "wires": [
            [
                "c311a3068d634258",
                "7f4f0dba7d8fde49"
            ]
        ]
    },
    {
        "id": "0ef68cb3c2993ada",
        "type": "change",
        "z": "96cdfc911e5f30a8",
        "name": "DHT22 email",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Meteostation00",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "DHT22 - Error",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 1040,
        "wires": [
            [
                "c311a3068d634258",
                "7f4f0dba7d8fde49"
            ]
        ]
    },
    {
        "id": "ff455845a2d5803d",
        "type": "change",
        "z": "96cdfc911e5f30a8",
        "name": "BME280 email",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Meteostation00",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "BME280 - Error",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 980,
        "wires": [
            [
                "c311a3068d634258",
                "7f4f0dba7d8fde49"
            ]
        ]
    },
    {
        "id": "5d83d7a577c7972e",
        "type": "change",
        "z": "96cdfc911e5f30a8",
        "name": "WiFi/MQTT Offline",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Meteostation00",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Meteostation with ID \"00\" is DOWN. Probably some ERROR.",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 910,
        "y": 860,
        "wires": [
            [
                "7f4f0dba7d8fde49"
            ]
        ]
    },
    {
        "id": "f261e2dbfe39d13a",
        "type": "change",
        "z": "96cdfc911e5f30a8",
        "name": "status - Device",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t   {\t       \"WiFi/MQTT\":msg.payload.status_wifimqtt,\t       \"INA219\":msg.payload.status_ina219,\t       \"BME280\":msg.payload.status_bme280,\t       \"DHT22\":msg.payload.status_dht22\t    },\t   {\t        \"espID\":msg.payload.espID,\t        \"place\":'meteostation',\t        \"sensor\":'Device'\t    }\t]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 700,
        "wires": [
            [
                "abaa693f45064b0a"
            ]
        ]
    },
    {
        "id": "abaa693f45064b0a",
        "type": "influxdb out",
        "z": "96cdfc911e5f30a8",
        "influxdb": "fc9141baac035642",
        "name": "InfluxDB/deviceStatus",
        "measurement": "deviceStatus",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "s",
        "retentionPolicyV18Flux": "",
        "org": "project",
        "bucket": "sensors",
        "x": 1140,
        "y": 700,
        "wires": []
    },
    {
        "id": "84980b0d37d4b21d",
        "type": "inject",
        "z": "96cdfc911e5f30a8",
        "name": "Test INA219 email",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"espID\":\"00\",\"status_wifimqtt\":\"Error\"}",
        "payloadType": "json",
        "x": 150,
        "y": 960,
        "wires": [
            [
                "2bdb208f5ef1f072",
                "f261e2dbfe39d13a"
            ]
        ]
    },
    {
        "id": "c93077a022493116",
        "type": "inject",
        "z": "96cdfc911e5f30a8",
        "name": "Test BME280 email",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"espID\":\"00\",\"status_bme280\":\"Error\"}",
        "payloadType": "json",
        "x": 150,
        "y": 1020,
        "wires": [
            [
                "ff455845a2d5803d",
                "f261e2dbfe39d13a"
            ]
        ]
    },
    {
        "id": "30f417f0bd4809e7",
        "type": "inject",
        "z": "96cdfc911e5f30a8",
        "name": "Test DHT22 email",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"espID\":\"00\",\"status_dht22\":\"Error\"}",
        "payloadType": "json",
        "x": 150,
        "y": 1080,
        "wires": [
            [
                "0ef68cb3c2993ada",
                "f261e2dbfe39d13a"
            ]
        ]
    },
    {
        "id": "c8e4566f7df94c88",
        "type": "change",
        "z": "96cdfc911e5f30a8",
        "name": "status - Device - ONLY WIFI/MQTT ERROR",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t   {\t       \"WiFi/MQTT\":'Error',\t       \"INA219\":'Error',\t       \"BME280\":'Error',\t       \"DHT22\":'Error'\t    },\t   {\t        \"espID\":msg.payload.espID,\t        \"place\":'meteostation',\t        \"sensor\":'Device'\t    }\t]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1030,
        "y": 820,
        "wires": [
            [
                "abaa693f45064b0a"
            ]
        ]
    },
    {
        "id": "948dce635adb1660",
        "type": "debug",
        "z": "96cdfc911e5f30a8",
        "name": "debug - Borderline",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1270,
        "y": 1140,
        "wires": []
    },
    {
        "id": "46278a5b8a904061",
        "type": "change",
        "z": "96cdfc911e5f30a8",
        "name": "Minus temperature",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Meteostation00",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Notification: Minus temperature",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 970,
        "y": 1140,
        "wires": [
            [
                "948dce635adb1660",
                "7f4f0dba7d8fde49"
            ]
        ]
    },
    {
        "id": "1be616957936bd3e",
        "type": "function",
        "z": "96cdfc911e5f30a8",
        "name": "Minus temperature",
        "func": "if(msg.payload.bme_temp < 0 || msg.payload.dht_temp < 0){\n    return [msg, null];\n}else{\n    msg.reset = true;\n    return [null, msg]\n}",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 1160,
        "wires": [
            [
                "6a2ab7cc501334bc"
            ],
            [
                "c8489e700eeba4ed"
            ]
        ]
    },
    {
        "id": "941c05395c5007c6",
        "type": "function",
        "z": "96cdfc911e5f30a8",
        "name": "High wind speed",
        "func": "if (msg.payload.windSpeed_ms >= 5) {\n    return [msg, null];\n} else {\n    msg.reset = true;\n    return [null, msg]\n}",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 1260,
        "wires": [
            [
                "df448e40423708c2"
            ],
            [
                "33899a7acee427f0"
            ]
        ]
    },
    {
        "id": "7ded6c87dd5f4487",
        "type": "change",
        "z": "96cdfc911e5f30a8",
        "name": "High wind speed",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Meteostation00",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Notification: Wind speed is more than 10 m/s",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 970,
        "y": 1240,
        "wires": [
            [
                "948dce635adb1660",
                "7f4f0dba7d8fde49"
            ]
        ]
    },
    {
        "id": "28e8f45914625fa4",
        "type": "switch",
        "z": "96cdfc911e5f30a8",
        "name": "Rain",
        "property": "payload.rain_tips",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "gt",
                "v": "3",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "x": 350,
        "y": 1340,
        "wires": [
            [
                "11efcdfadcbe3e35"
            ],
            [
                "8c49d0945925c4af"
            ],
            [
                "df69c059aba6974d"
            ]
        ]
    },
    {
        "id": "061a182e7c176b08",
        "type": "change",
        "z": "96cdfc911e5f30a8",
        "name": "Small rain",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Meteostation00",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Notification: Small rain",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 940,
        "y": 1320,
        "wires": [
            [
                "948dce635adb1660",
                "7f4f0dba7d8fde49"
            ]
        ]
    },
    {
        "id": "5490325d40d265c9",
        "type": "change",
        "z": "96cdfc911e5f30a8",
        "name": "Bigrain",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Meteostation00",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Notification: Big rain",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 940,
        "y": 1360,
        "wires": [
            [
                "948dce635adb1660",
                "7f4f0dba7d8fde49"
            ]
        ]
    },
    {
        "id": "328c15f4cbde1b61",
        "type": "inject",
        "z": "96cdfc911e5f30a8",
        "name": "Temperature test",
        "props": [
            {
                "p": "payload.bme_temp",
                "v": "-1",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 140,
        "y": 1160,
        "wires": [
            [
                "1be616957936bd3e"
            ]
        ]
    },
    {
        "id": "eca7254b48429d8f",
        "type": "inject",
        "z": "96cdfc911e5f30a8",
        "name": "Wind Test",
        "props": [
            {
                "p": "payload.windSpeed_ms",
                "v": "10",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 120,
        "y": 1260,
        "wires": [
            [
                "941c05395c5007c6"
            ]
        ]
    },
    {
        "id": "af9c263eff36e04b",
        "type": "inject",
        "z": "96cdfc911e5f30a8",
        "name": "Small rain Test",
        "props": [
            {
                "p": "payload.rain_tips",
                "v": "1",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 140,
        "y": 1320,
        "wires": [
            [
                "28e8f45914625fa4"
            ]
        ]
    },
    {
        "id": "494b2dd5545cebe8",
        "type": "inject",
        "z": "96cdfc911e5f30a8",
        "name": "Bigrain Test",
        "props": [
            {
                "p": "payload.rain_tips",
                "v": "4",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 1360,
        "wires": [
            [
                "28e8f45914625fa4"
            ]
        ]
    },
    {
        "id": "11efcdfadcbe3e35",
        "type": "trigger",
        "z": "96cdfc911e5f30a8",
        "name": "Send once 0mm reset",
        "op1": "",
        "op2": "0",
        "op1type": "pay",
        "op2type": "str",
        "duration": "1",
        "extend": false,
        "overrideDelay": false,
        "units": "hr",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 740,
        "y": 1320,
        "wires": [
            [
                "061a182e7c176b08"
            ]
        ]
    },
    {
        "id": "df69c059aba6974d",
        "type": "change",
        "z": "96cdfc911e5f30a8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 1380,
        "wires": [
            [
                "8c49d0945925c4af"
            ]
        ]
    },
    {
        "id": "8c49d0945925c4af",
        "type": "trigger",
        "z": "96cdfc911e5f30a8",
        "name": "Send once 0mm reset",
        "op1": "",
        "op2": "0",
        "op1type": "pay",
        "op2type": "str",
        "duration": "0",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 740,
        "y": 1360,
        "wires": [
            [
                "5490325d40d265c9"
            ]
        ]
    },
    {
        "id": "6a2ab7cc501334bc",
        "type": "trigger",
        "z": "96cdfc911e5f30a8",
        "name": "Send once +temp reset",
        "op1": "",
        "op2": "0",
        "op1type": "pay",
        "op2type": "str",
        "duration": "0",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 750,
        "y": 1140,
        "wires": [
            [
                "46278a5b8a904061"
            ]
        ]
    },
    {
        "id": "c8489e700eeba4ed",
        "type": "change",
        "z": "96cdfc911e5f30a8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 1180,
        "wires": [
            [
                "6a2ab7cc501334bc"
            ]
        ]
    },
    {
        "id": "12ad4ae3d6b41631",
        "type": "change",
        "z": "96cdfc911e5f30a8",
        "name": "WiFi/MQTT Online",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Meteostation00",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Meteostation with ID \"00\" is ONLINE.",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 950,
        "y": 780,
        "wires": [
            [
                "7f4f0dba7d8fde49"
            ]
        ]
    },
    {
        "id": "df448e40423708c2",
        "type": "trigger",
        "z": "96cdfc911e5f30a8",
        "name": "Send once <5 reset",
        "op1": "",
        "op2": "0",
        "op1type": "pay",
        "op2type": "str",
        "duration": "0",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 730,
        "y": 1240,
        "wires": [
            [
                "7ded6c87dd5f4487"
            ]
        ]
    },
    {
        "id": "33899a7acee427f0",
        "type": "change",
        "z": "96cdfc911e5f30a8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 1280,
        "wires": [
            [
                "df448e40423708c2"
            ]
        ]
    },
    {
        "id": "dd27228254a011ea",
        "type": "mqtt in",
        "z": "99587b48e67a75ad",
        "name": "",
        "topic": "Test",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "de24aff89ea8a24b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 50,
        "y": 20,
        "wires": [
            [
                "268f513df21a4950",
                "b7589fb4975fa2e0",
                "3cb4bd9a29f2a58d",
                "17f06a0e868fd771",
                "593618694662cd4a",
                "9667f898fc2daa90",
                "19c4be7afe98d52d",
                "b601b3f939632e59",
                "0d1d9c6f35b917bf",
                "dd66bd05e2252580",
                "528c843c1115666b",
                "e401402bea597106",
                "257f82b84558fdf7",
                "b892e0011c0272d5"
            ]
        ]
    },
    {
        "id": "b7589fb4975fa2e0",
        "type": "change",
        "z": "99587b48e67a75ad",
        "name": "airTemperature - DHT22",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t   {\t       \"celsius\":msg.payload.dht_temp\t    },\t   {\t        \"espID\":msg.payload.espID,\t        \"place\":'meteostation',\t        \"sensor\":'DHT22'\t    }\t]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 60,
        "wires": [
            [
                "56ff16e1613aa547"
            ]
        ]
    },
    {
        "id": "3cb4bd9a29f2a58d",
        "type": "change",
        "z": "99587b48e67a75ad",
        "name": "airTemperature - BME280",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t   {\t       \"celsius\":msg.payload.bme_temp\t    },\t   {\t        \"espID\":msg.payload.espID,\t        \"place\":'meteostation',\t        \"sensor\":'BME280'\t    }\t]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 100,
        "wires": [
            [
                "56ff16e1613aa547"
            ]
        ]
    },
    {
        "id": "17f06a0e868fd771",
        "type": "change",
        "z": "99587b48e67a75ad",
        "name": "airHumidity - DHT22",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t   {\t       \"percent\":msg.payload.dht_hum\t    },\t   {\t        \"espID\":msg.payload.espID,\t        \"place\":'meteostation',\t        \"sensor\":'DHT22'\t    }\t]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 160,
        "wires": [
            [
                "5ebd7f175c08378e"
            ]
        ]
    },
    {
        "id": "268f513df21a4950",
        "type": "debug",
        "z": "99587b48e67a75ad",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 20,
        "wires": []
    },
    {
        "id": "56ff16e1613aa547",
        "type": "influxdb out",
        "z": "99587b48e67a75ad",
        "influxdb": "6939a609d9250890",
        "name": "InfluxDB/airTemperature",
        "measurement": "airTemperature",
        "precision": "s",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "s",
        "retentionPolicyV18Flux": "",
        "org": "project",
        "bucket": "test",
        "x": 1030,
        "y": 60,
        "wires": []
    },
    {
        "id": "5ebd7f175c08378e",
        "type": "influxdb out",
        "z": "99587b48e67a75ad",
        "influxdb": "6939a609d9250890",
        "name": "InfluxDB/airHumidity",
        "measurement": "airHumidity",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "s",
        "retentionPolicyV18Flux": "",
        "org": "project",
        "bucket": "test",
        "x": 1020,
        "y": 160,
        "wires": []
    },
    {
        "id": "801e2f381949459a",
        "type": "influxdb out",
        "z": "99587b48e67a75ad",
        "influxdb": "6939a609d9250890",
        "name": "InfluxDB/airPressure",
        "measurement": "airPressure",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "s",
        "retentionPolicyV18Flux": "",
        "org": "project",
        "bucket": "test",
        "x": 1020,
        "y": 260,
        "wires": []
    },
    {
        "id": "73d84a26fa640815",
        "type": "influxdb out",
        "z": "99587b48e67a75ad",
        "influxdb": "6939a609d9250890",
        "name": "InfluxDB/batteryVoltage",
        "measurement": "batteryVoltage",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "s",
        "retentionPolicyV18Flux": "",
        "org": "project",
        "bucket": "test",
        "x": 1010,
        "y": 700,
        "wires": []
    },
    {
        "id": "593618694662cd4a",
        "type": "change",
        "z": "99587b48e67a75ad",
        "name": "airHumidity - BME280",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t   {\t       \"percent\":msg.payload.bme_hum\t    },\t   {\t        \"espID\":msg.payload.espID,\t        \"place\":'meteostation',\t        \"sensor\":'BME280'\t    }\t]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 200,
        "wires": [
            [
                "5ebd7f175c08378e"
            ]
        ]
    },
    {
        "id": "9667f898fc2daa90",
        "type": "change",
        "z": "99587b48e67a75ad",
        "name": "airPressure- BME280",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t   {\t       \"hPa\":msg.payload.bme_press\t    },\t   {\t        \"espID\":msg.payload.espID,\t        \"place\":'meteostation',\t        \"sensor\":'BME280'\t    }\t]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 260,
        "wires": [
            [
                "801e2f381949459a"
            ]
        ]
    },
    {
        "id": "19c4be7afe98d52d",
        "type": "change",
        "z": "99587b48e67a75ad",
        "name": "windSpeed-WH-SP-WS01",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t   {\t       \"tips\":msg.payload.windSpeed_tips,\t       \"1Hz\":msg.payload.windSpeed_1Hz,\t       \"ms\":msg.payload.windSpeed_ms,\t       \"kmh\":msg.payload.windSpeed_kmh\t    },\t   {\t        \"espID\":msg.payload.espID,\t        \"place\":'meteostation',\t        \"sensor\":'WH-SP-WS01'\t    }\t]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 320,
        "wires": [
            [
                "68756c1b542a2b29"
            ]
        ]
    },
    {
        "id": "b601b3f939632e59",
        "type": "change",
        "z": "99587b48e67a75ad",
        "name": "windDirection-WH-SP-WD",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t   {\t       \"adc\":msg.payload.windDir_ADC,\t       \"deg\":msg.payload.windDir_deg,\t       \"name\":msg.payload.windDir_name\t    },\t   {\t        \"espID\":msg.payload.espID,\t        \"place\":'meteostation',\t        \"sensor\":'WH-SP-WD'\t    }\t]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 380,
        "wires": [
            [
                "8d54a081b11941db"
            ]
        ]
    },
    {
        "id": "0d1d9c6f35b917bf",
        "type": "change",
        "z": "99587b48e67a75ad",
        "name": "rainGauge-MS-WH-SP-RG",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t   {\t       \"tips\":msg.payload.rain_tips,\t       \"mm\":msg.payload.rain_mm\t    },\t   {\t        \"espID\":msg.payload.espID,\t        \"place\":'meteostation',\t        \"sensor\":'MS-WH-SP-RG'\t    }\t]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 440,
        "wires": [
            [
                "7cd048707b5b2388"
            ]
        ]
    },
    {
        "id": "68756c1b542a2b29",
        "type": "influxdb out",
        "z": "99587b48e67a75ad",
        "influxdb": "6939a609d9250890",
        "name": "InfluxDB/windSpeed",
        "measurement": "windSpeed",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "s",
        "retentionPolicyV18Flux": "",
        "org": "project",
        "bucket": "test",
        "x": 1020,
        "y": 320,
        "wires": []
    },
    {
        "id": "8d54a081b11941db",
        "type": "influxdb out",
        "z": "99587b48e67a75ad",
        "influxdb": "6939a609d9250890",
        "name": "InfluxDB/windDirection",
        "measurement": "windDirection",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "s",
        "retentionPolicyV18Flux": "",
        "org": "project",
        "bucket": "test",
        "x": 1020,
        "y": 380,
        "wires": []
    },
    {
        "id": "7cd048707b5b2388",
        "type": "influxdb out",
        "z": "99587b48e67a75ad",
        "influxdb": "6939a609d9250890",
        "name": "InfluxDB/rainGauge",
        "measurement": "rainGauge",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "s",
        "retentionPolicyV18Flux": "",
        "org": "project",
        "bucket": "test",
        "x": 1010,
        "y": 440,
        "wires": []
    },
    {
        "id": "dd66bd05e2252580",
        "type": "change",
        "z": "99587b48e67a75ad",
        "name": "airDewPoint - BME280",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t   {\t       \"celsius\":msg.payload.bme_temp - ((100 - msg.payload.bme_hum) / 5)\t    },\t   {\t        \"espID\":msg.payload.espID,\t        \"place\":'meteostation',\t        \"sensor\":'BME280'\t    }\t]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 500,
        "wires": [
            [
                "268f513df21a4950",
                "37eacab2c207be5d"
            ]
        ]
    },
    {
        "id": "37eacab2c207be5d",
        "type": "influxdb out",
        "z": "99587b48e67a75ad",
        "influxdb": "6939a609d9250890",
        "name": "InfluxDB/airDewPoint",
        "measurement": "airDewPoint",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "s",
        "retentionPolicyV18Flux": "",
        "org": "project",
        "bucket": "test",
        "x": 1020,
        "y": 500,
        "wires": []
    },
    {
        "id": "528c843c1115666b",
        "type": "change",
        "z": "99587b48e67a75ad",
        "name": "airDewPoint - DHT22",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t   {\t       \"celsius\":msg.payload.dht_temp - ((100 - msg.payload.dht_hum) / 5)\t    },\t   {\t        \"espID\":msg.payload.espID,\t        \"place\":'meteostation',\t        \"sensor\":'DHT22'\t    }\t]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 560,
        "wires": [
            [
                "268f513df21a4950",
                "37eacab2c207be5d"
            ]
        ]
    },
    {
        "id": "e401402bea597106",
        "type": "switch",
        "z": "99587b48e67a75ad",
        "name": "Status",
        "property": "payload.status",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "OK",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Error:WiFi",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Error:BME/DHT",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Error:MS-WH-SP-RG",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Error:WH-SP-WS01",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Error:WH-SP-WD",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Error:MQTT",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 7,
        "x": 430,
        "y": 700,
        "wires": [
            [],
            [],
            [],
            [],
            [],
            [],
            []
        ]
    },
    {
        "id": "257f82b84558fdf7",
        "type": "function",
        "z": "99587b48e67a75ad",
        "name": "Minus Temperature",
        "func": "var newMsg;\nif (msg.payload.bme280_temp < 0 || msg.payload.dht22_temp < 0){\n    newMsg = {\n        \"payload\": 'Minus Temperature'\n    }\n    return newMsg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 780,
        "wires": [
            [
                "268f513df21a4950"
            ]
        ]
    },
    {
        "id": "90c1df29459c6a9e",
        "type": "influxdb out",
        "z": "99587b48e67a75ad",
        "influxdb": "6939a609d9250890",
        "name": "InfluxDB/status",
        "measurement": "status",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "s",
        "retentionPolicyV18Flux": "",
        "org": "project",
        "bucket": "test",
        "x": 1000,
        "y": 620,
        "wires": []
    },
    {
        "id": "b892e0011c0272d5",
        "type": "change",
        "z": "99587b48e67a75ad",
        "name": "status",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t   {\t       \"status\":msg.payload.status\t    },\t   {\t        \"espID\":msg.payload.espID,\t        \"place\":'meteostation'\t    }\t]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 620,
        "wires": [
            [
                "90c1df29459c6a9e"
            ]
        ]
    },
    {
        "id": "8b7c65773675bfa3",
        "type": "inject",
        "z": "99587b48e67a75ad",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 540,
        "y": 860,
        "wires": [
            [
                "2baf506339bba1bb"
            ]
        ]
    },
    {
        "id": "2baf506339bba1bb",
        "type": "trigger",
        "z": "99587b48e67a75ad",
        "name": "",
        "op1": "",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "2",
        "extend": true,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 740,
        "y": 720,
        "wires": [
            [
                "268f513df21a4950"
            ]
        ]
    }
]