server/nodered/flows.json
[
    {
        "id": "96cdfc911e5f30a8",
        "type": "tab",
        "label": "DP-Meteo",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "de24aff89ea8a24b",
        "type": "mqtt-broker",
        "name": "MQTT Broker",
        "broker": "192.168.1.250",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "3",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "fc9141baac035642",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "database",
        "name": "InfluxDB IoT",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://influxdb:8086",
        "timeout": "10",
        "rejectUnauthorized": true
    },
    {
        "id": "e4bcacc3334c7edb",
        "type": "mqtt in",
        "z": "96cdfc911e5f30a8",
        "name": "",
        "topic": "Testing",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "de24aff89ea8a24b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 50,
        "y": 20,
        "wires": [
            [
                "fca26e21852167cb",
                "9d44ec2f582d53a5",
                "f766d64a5545da63",
                "2e9eb97c1e75e9f5",
                "da9c1574f143852f",
                "7854719d33019e25",
                "0aa8f1c1084b6282",
                "f92c99b12b662c95",
                "d777f82ef5d96b86",
                "13180289d11a95a8",
                "d2306a3dca7b1320"
            ]
        ]
    },
    {
        "id": "9d44ec2f582d53a5",
        "type": "change",
        "z": "96cdfc911e5f30a8",
        "name": "airTemperature - DHT22",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t   {\t       \"celsius\":msg.payload.dht_temp\t    },\t   {\t        \"espID\":msg.payload.espID,\t        \"place\":'meteostation',\t        \"sensor\":'DHT22'\t    }\t]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 60,
        "wires": [
            [
                "3dcf579ac1a09e17"
            ]
        ]
    },
    {
        "id": "f766d64a5545da63",
        "type": "change",
        "z": "96cdfc911e5f30a8",
        "name": "airTemperature - BME280",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t   {\t       \"celsius\":msg.payload.bme_temp\t    },\t   {\t        \"espID\":msg.payload.espID,\t        \"place\":'meteostation',\t        \"sensor\":'BME280'\t    }\t]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 100,
        "wires": [
            [
                "3dcf579ac1a09e17"
            ]
        ]
    },
    {
        "id": "2e9eb97c1e75e9f5",
        "type": "change",
        "z": "96cdfc911e5f30a8",
        "name": "airHumidity - DHT22",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t   {\t       \"percent\":msg.payload.dht_hum\t    },\t   {\t        \"espID\":msg.payload.espID,\t        \"place\":'meteostation',\t        \"sensor\":'DHT22'\t    }\t]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 160,
        "wires": [
            [
                "9ed5169014441026"
            ]
        ]
    },
    {
        "id": "fca26e21852167cb",
        "type": "debug",
        "z": "96cdfc911e5f30a8",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 20,
        "wires": []
    },
    {
        "id": "3dcf579ac1a09e17",
        "type": "influxdb out",
        "z": "96cdfc911e5f30a8",
        "influxdb": "fc9141baac035642",
        "name": "InfluxDB/airTemperature",
        "measurement": "airTemperature",
        "precision": "s",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "s",
        "retentionPolicyV18Flux": "",
        "org": "project",
        "bucket": "sensors",
        "x": 1030,
        "y": 60,
        "wires": []
    },
    {
        "id": "9ed5169014441026",
        "type": "influxdb out",
        "z": "96cdfc911e5f30a8",
        "influxdb": "fc9141baac035642",
        "name": "InfluxDB/airHumidity",
        "measurement": "airHumidity",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "s",
        "retentionPolicyV18Flux": "",
        "org": "project",
        "bucket": "sensors",
        "x": 1020,
        "y": 160,
        "wires": []
    },
    {
        "id": "beb5e0ccdab79f3a",
        "type": "influxdb out",
        "z": "96cdfc911e5f30a8",
        "influxdb": "fc9141baac035642",
        "name": "InfluxDB/airPressure",
        "measurement": "airPressure",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "s",
        "retentionPolicyV18Flux": "",
        "org": "project",
        "bucket": "sensors",
        "x": 1020,
        "y": 260,
        "wires": []
    },
    {
        "id": "107800ab4f5f7059",
        "type": "influxdb out",
        "z": "96cdfc911e5f30a8",
        "influxdb": "fc9141baac035642",
        "name": "InfluxDB/batteryVoltage",
        "measurement": "batteryVoltage",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "s",
        "retentionPolicyV18Flux": "",
        "org": "project",
        "bucket": "sensors",
        "x": 1030,
        "y": 580,
        "wires": []
    },
    {
        "id": "da9c1574f143852f",
        "type": "change",
        "z": "96cdfc911e5f30a8",
        "name": "airHumidity - BME280",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t   {\t       \"percent\":msg.payload.bme_hum\t    },\t   {\t        \"espID\":msg.payload.espID,\t        \"place\":'meteostation',\t        \"sensor\":'BME280'\t    }\t]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 200,
        "wires": [
            [
                "9ed5169014441026"
            ]
        ]
    },
    {
        "id": "7854719d33019e25",
        "type": "change",
        "z": "96cdfc911e5f30a8",
        "name": "airPressure- BME280",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t   {\t       \"hPa\":msg.payload.bme_press\t    },\t   {\t        \"espID\":msg.payload.espID,\t        \"place\":'meteostation',\t        \"sensor\":'BME280'\t    }\t]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 260,
        "wires": [
            [
                "beb5e0ccdab79f3a"
            ]
        ]
    },
    {
        "id": "0aa8f1c1084b6282",
        "type": "change",
        "z": "96cdfc911e5f30a8",
        "name": "windSpeed-WH-SP-WS01",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t   {\t       \"tips\":msg.payload.windSpeed_tips,\t       \"1Hz\":msg.payload.windSpeed_1Hz,\t       \"ms\":msg.payload.windSpeed_ms,\t       \"kmh\":msg.payload.windSpeed_kmh\t    },\t   {\t        \"espID\":msg.payload.espID,\t        \"place\":'meteostation',\t        \"sensor\":'WH-SP-WS01'\t    }\t]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 320,
        "wires": [
            [
                "2583c57e638de367"
            ]
        ]
    },
    {
        "id": "f92c99b12b662c95",
        "type": "change",
        "z": "96cdfc911e5f30a8",
        "name": "windDirection-WH-SP-WD",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t   {\t       \"adc\":msg.payload.windDir_ADC,\t       \"deg\":msg.payload.windDir_deg,\t       \"name\":msg.payload.windDir_name\t    },\t   {\t        \"espID\":msg.payload.espID,\t        \"place\":'meteostation',\t        \"sensor\":'WH-SP-WD'\t    }\t]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 380,
        "wires": [
            [
                "ab765a44fc8ebc07"
            ]
        ]
    },
    {
        "id": "d777f82ef5d96b86",
        "type": "change",
        "z": "96cdfc911e5f30a8",
        "name": "rainGauge-MS-WH-SP-RG",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t   {\t       \"tips\":msg.payload.rain_tips,\t       \"mm\":msg.payload.rain_mm\t    },\t   {\t        \"espID\":msg.payload.espID,\t        \"place\":'meteostation',\t        \"sensor\":'MS-WH-SP-RG'\t    }\t]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 440,
        "wires": [
            [
                "8717fa8e07a0b69a"
            ]
        ]
    },
    {
        "id": "2583c57e638de367",
        "type": "influxdb out",
        "z": "96cdfc911e5f30a8",
        "influxdb": "fc9141baac035642",
        "name": "InfluxDB/windSpeed",
        "measurement": "windSpeed",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "s",
        "retentionPolicyV18Flux": "",
        "org": "project",
        "bucket": "sensors",
        "x": 1020,
        "y": 320,
        "wires": []
    },
    {
        "id": "ab765a44fc8ebc07",
        "type": "influxdb out",
        "z": "96cdfc911e5f30a8",
        "influxdb": "fc9141baac035642",
        "name": "InfluxDB/windDirection",
        "measurement": "windDirection",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "s",
        "retentionPolicyV18Flux": "",
        "org": "project",
        "bucket": "sensors",
        "x": 1020,
        "y": 380,
        "wires": []
    },
    {
        "id": "8717fa8e07a0b69a",
        "type": "influxdb out",
        "z": "96cdfc911e5f30a8",
        "influxdb": "fc9141baac035642",
        "name": "InfluxDB/rainGauge",
        "measurement": "rainGauge",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "s",
        "retentionPolicyV18Flux": "",
        "org": "project",
        "bucket": "sensors",
        "x": 1010,
        "y": 440,
        "wires": []
    },
    {
        "id": "13180289d11a95a8",
        "type": "change",
        "z": "96cdfc911e5f30a8",
        "name": "airDewPoint - BME280",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t   {\t       \"celsius\":msg.payload.bme_temp - ((100 - msg.payload.bme_hum) / 5)\t    },\t   {\t        \"espID\":msg.payload.espID,\t        \"place\":'meteostation',\t        \"sensor\":'BME280'\t    }\t]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 500,
        "wires": [
            [
                "fca26e21852167cb",
                "5df8ca37cd22d5d0"
            ]
        ]
    },
    {
        "id": "5df8ca37cd22d5d0",
        "type": "influxdb out",
        "z": "96cdfc911e5f30a8",
        "influxdb": "fc9141baac035642",
        "name": "InfluxDB/airDewPoint",
        "measurement": "airDewPoint",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "s",
        "retentionPolicyV18Flux": "",
        "org": "project",
        "bucket": "sensors",
        "x": 1020,
        "y": 500,
        "wires": []
    },
    {
        "id": "d2306a3dca7b1320",
        "type": "change",
        "z": "96cdfc911e5f30a8",
        "name": "airDewPoint - DHT22",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t   {\t       \"celsius\":msg.payload.dht_temp - ((100 - msg.payload.dht_hum) / 5)\t    },\t   {\t        \"espID\":msg.payload.espID,\t        \"place\":'meteostation',\t        \"sensor\":'DHT22'\t    }\t]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 560,
        "wires": [
            [
                "5df8ca37cd22d5d0",
                "fca26e21852167cb"
            ]
        ]
    }
]